PORT=3002
DB_HOST=fia-postgres.postgres.database.azure.com
DB_PORT=5432
DB_USER=adminfia
DB_PASSWORD=your_db_password
DB_NAME=pf_operacional
DB_SCHEMA=InventariosTI
DB_SSL=true
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
